body{
    postion:absolute;
    margin: 0;
    text-align: center ;
    font-family: 'Merriweather', serif;
}
hr{
    width: 5%;
    border-style: dotted none none;
    border-width: 10px;
    border-color: #A9A9A9;
}
.intro
{
    font-weight: normal;
}
.Web
{
    text-decoration: underline;
}
.top-container
{
   
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
h1{
    font-size: 5.625rem;
    margin: 0  auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
    color: #66BFBF;
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}
a{
    color: #11999E;
    text-decoration: none;
}
.top-cloud
{
    position: absolute;
    right: 350px;
    top: 50px;
}
.bottom-cloud
{
    position: absolute;
    left: 350px;
    bottom: 300px;
}
.skill-row
{
    margin: 100px auto;
    width: 50%;
    text-align: left;
    line-height: 2;
}
.code-img
{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.UI-img
{
    width: 25%;
    float: right;
    margin-left: 30px; 
}

.bottom-container
{
    background-color: #66BFBF;
    padding: 50px;
}
.footer-link
{
    margin-right: 20px;
}
.contact-me-button {
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 500;
    padding: 18px;
    background-color: #66BFBF;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    margin: 50px 0;
 }
 
 .contact-me-button:hover {
    background: #1E62D0;
    border: solid #337FED 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
.contact-me-desc
{
    margin: 0 auto;
    width: 50%;
}
.name-copyright
{
    color: #EAF6F6;
}
